/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Css Reset end

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Variables
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$kumbhSans: 'Kumbh Sans', sans-serif;

// My Css
* {
    box-sizing: border-box;
}

body {
    font-family: $kumbhSans;
	background: $darkCyan;
	color: $veryDarkDesaturatedBlue;
}

img {
	width: 100%;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	padding: 10px;
}

.card {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	padding-top: 92px;
	background-color: #fff;
	background-image: url('images/bg-pattern-card.svg');
	background-repeat: no-repeat;
	background-position: center 0;
	border-radius: 13px;
	text-align: center;
	position: relative;
}

.circleTop,
.circleBot {
	width: 1381.69px;
	position: absolute;
}

.circleTop {
	top: -1010px;
	left: -1190px;
	z-index: -1;
}

.circleBot {
	top: 110px;
	left: 110px;
	z-index: -1;
}

.headShot {
	border-radius: 50%;
	width: 96px;
	display: block;
	margin: 0 auto 20px;
	background: #fff;
	border: 4px solid #fff;
}

.name {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
	span {
		color: $darkGrayishBlue;
		font-weight: 400;
	}
}

.location {
	color: $darkGrayishBlue;
	padding-bottom: 20px;
	border-bottom: 1px solid $darkGray;
}

.items {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 25px 0;
}

.number {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.item {
	font-size: 14px;
	color: $darkGrayishBlue;
}

.attribution {
    font-size: 11px;
    text-align: center;
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	color: #fff;
	a {
		color: rgb(255, 238, 0);
		&:hover {
			color: rgb(255, 208, 0);
		}
	}
}
